<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/');
  } %>
  
  <div class="login-page">
    <!-- Right side: Login form -->
    <div class="login-form-container">
      <!-- Login form -->
      <form action="/account/login" method="POST" class="login-form">
        <fieldset>
          <label for="account_email">Email Address:</label>
          <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>">
  
          <label for="account_password">Password:</label>
          <input type="password" id="account_password" name="account_password" required>
  
          <button type="submit">Login</button>
        </fieldset>
      </form>
  
      <!-- Link to registration page -->
      <p class="regAcc">Don't have an account? <a class="reg" href="/account/register">Register here</a></p>
    </div>
  </div>