<section>
    <h1>Welcome to CSE Motors!</h1>
    <div class="homepage">
        <div class="text_body">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders<br> Superman doors<br> Fuzzy dice!</p>
            <a href="#" class="ad_btn">Own Today</a>
        </div>
        <img src="images/vehicles/delorean.jpg" width="400" height="200" alt="delorean" loading="lazy">
    </div>
</section>

<section>
    <div class="upgrade_and_review">
        <div class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade_img">
                <div><img src="images/upgrades/flux-cap.png" alt="flux capacitor">Flux Capacitor</div>
                <div><img src="images/upgrades/flame.jpg" alt="flame Decals">Flame Decals</div>
                <div><img src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker">Bumper Stickers</div>
                <div><img src="images/upgrades/hub-cap.jpg" alt="hub cap">Hub Caps</div>
            </div>
        </div>

        <div class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time."<br>(4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80s living and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
</section>
