<main>
  <h1><%= title %></h1>
  <p><%- message %></p> 
  <p>It seems something went wrong. Please try again!</p>
  <p>Return to the <a href="/">home page</a> or <a href="javascript:history.back()">go back</a>.</p>
</main>

